.testimonial-section {
  padding: 94px 16px;
  height: auto;

  &__title {
    color: var(--grayish-blue);
    text-transform: uppercase;
    font-family: Fraunces;
    font-size: 1.25rem;
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 3px;
  }

  &__grid {
    display: grid;
  }

  @media (min-width: 1024px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 160px;

    &__title {
      font-size: 1.125rem;
      letter-spacing: 5px;
      margin-bottom: 80px;
    }

    &__grid {
      gap: 1.5rem;
      grid-template-columns: repeat(3, 19.5rem);
    }
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 88px;

  &__img {
    border-radius: 50%;
    height: 108px;
    width: 108px;
    aspect-ratio: 1;
  }

  &__description {
    margin: 48px 0;
    line-height: 2.5rem;
    font-size: 1.4rem;
    scale: 0.85;
    color: var(--very-dark-grayish-blue);
    max-width: 50ch;
  }

  &__person {
    font-family: Fraunces;
    font-weight: 900;
    font-size: 1.4rem;
    color: var(--very-dark-desaturated-blue);
    margin-bottom: 12px;
  }

  &__role {
    color: var(--grayish-blue);
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) {
  .testimonial {
    margin-top: 0;

    &__img {
      height: 76px;
      width: 76px;
    }

    &__description {
      margin: 64px 0;
      font-size: 1rem;
      line-height: 1.75rem;
      scale: 1;
    }

    &__person {
      font-size: 1rem;
    }

    &__role {
      font-size: 0.75rem;
    }
  }
}
