:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

@font-face {
  font-family: "Fraunces";
  font-weight: 700;
  src: url("./fonts/Fraunces-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Fraunces";
  font-weight: 900;
  src: url("./fonts/Fraunces-Black.ttf") format("truetype");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  max-width: 1440px;
  margin: auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

.header {
  position: relative;
  background-image: url("../images/mobile/image-header.jpg");
  height: 95vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__info {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 8px;
  padding-right: 8px;
}
.header__info__arrow {
  margin: 3.5rem auto 0;
  height: 9rem;
}
.header__info__text {
  text-align: center;
  color: var(--white);
  font-family: Fraunces;
  font-size: 2.5rem;
  letter-spacing: 0.17em;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .header {
    background-image: url("../images/desktop/image-header.jpg");
    height: 44.5rem;
  }
  .header__info {
    top: 24%;
  }
  .header__info__arrow {
    margin: 6rem auto 0;
    height: 6.5rem;
  }
  .header__info__text {
    font-size: 3rem;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 44px 32px 0;
  z-index: 5;
}
.nav__logo {
  height: 1.8rem;
  width: 9rem;
}
.nav__burger {
  background-color: transparent;
  border: 0;
}
.nav__burger img {
  height: 1.25rem;
  width: 1.75rem;
}
.nav__burger + .nav__links {
  display: none;
}
.nav__burger.open + .nav__links.open {
  position: absolute;
  top: 8.5rem;
  left: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 25rem;
  background-color: var(--white);
  width: calc(100% - 70px);
}
.nav__burger.open + .nav__links.open::before {
  content: "";
  margin-left: auto;
  position: relative;
  top: -3.25rem;
  border-width: 0 0 1.5rem 1.5rem;
  border-style: solid;
  border-color: var(--white) transparent;
  display: block;
  width: 0;
}
.nav__burger.open + .nav__links.open ul {
  list-style: none;
  padding: 0;
}
.nav__burger.open + .nav__links.open ul li {
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.35rem;
  line-height: 2;
}
.nav__burger.open + .nav__links.open ul li:last-child {
  margin-top: 16px;
}
.nav__link {
  color: var(--grayish-blue);
  text-decoration: none;
  padding-left: 32px;
  padding-right: 32px;
}
.nav__link#contact {
  background-color: var(--yellow);
  color: var(--very-dark-desaturated-blue);
  font-family: Fraunces;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 16px 28px;
  border-radius: 32px;
}

@media (min-width: 768px) {
  .nav {
    padding: 40px 40px 0;
  }
  .nav__burger {
    display: none;
  }
  .nav__burger + .nav__links {
    display: block;
  }
  .nav__links {
    position: initial;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    flex-direction: row;
    padding: 0;
    background-color: transparent;
  }
  .nav__links::before {
    display: none;
  }
  .nav__links ul {
    display: flex;
    list-style: none;
  }
  .nav__link {
    color: var(--white);
    padding-left: 24px;
    padding-right: 24px;
  }
  .nav__link#contact {
    background-color: var(--white);
    font-size: 0.875rem;
    margin-left: 24px;
  }
}
.feature__row,
.feature__row--reverse {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: minmax(25rem, 1fr);
}
@media (min-width: 875px) {
  .feature__row,
.feature__row--reverse {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(33rem, 1fr);
  }
}

#feature-transform > .feature__img,
#feature-stand-out > .feature__img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 25rem;
  width: 100%;
}
#feature-transform .feature__info,
#feature-stand-out .feature__info {
  text-align: center;
  margin: auto;
  padding: 16px 0 80px;
  max-width: 40ch;
}
#feature-transform .feature__info__title,
#feature-stand-out .feature__info__title {
  font-family: Fraunces;
  font-size: 2.5rem;
  font-weight: 900;
}
#feature-transform .feature__info__description,
#feature-stand-out .feature__info__description {
  font-size: 1.25rem;
  line-height: 2.25rem;
  margin: 32px 0 16px;
  color: var(--dark-grayish-blue);
}
#feature-transform .feature__info__link,
#feature-stand-out .feature__info__link {
  font-family: Fraunces;
  font-size: 1.125rem;
  font-weight: 700;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 0.025rem;
  display: block;
  margin: 64px auto 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#feature-transform .feature__info__link::after,
#feature-stand-out .feature__info__link::after {
  content: "";
  width: calc(100% + 16px);
  opacity: 0.3;
  border-radius: 20px;
  position: absolute;
  bottom: -4px;
  left: -8px;
  z-index: -1;
}

@media (min-width: 875px) {
  #feature-transform > .feature__img,
#feature-stand-out > .feature__img {
    height: 100%;
    max-height: 100%;
    margin: 0 auto;
  }
  #feature-transform .feature__info,
#feature-stand-out .feature__info {
    text-align: left;
    max-width: 45ch;
    padding: 64px 0;
  }
  #feature-transform .feature__info__title,
#feature-stand-out .feature__info__title {
    font-size: 2.55rem;
  }
  #feature-transform .feature__info__description,
#feature-stand-out .feature__info__description {
    font-size: 1rem;
    line-height: 1.75rem;
  }
  #feature-transform .feature__info__link,
#feature-stand-out .feature__info__link {
    font-size: 0.875rem;
    margin: 40px 0 0;
  }
}
#feature-transform .feature__img {
  background-image: url("../images/mobile/image-transform.jpg");
}
#feature-transform .feature__info__link::after {
  border-top: 12px solid var(--yellow);
}

#feature-stand-out .feature__img {
  background-image: url("../images/mobile/image-stand-out.jpg");
}
#feature-stand-out .feature__info__link::after {
  border-top: 12px solid var(--soft-red);
}

@media (min-width: 875px) {
  #feature-transform .feature__img {
    background-image: url("../images/desktop/image-transform.jpg");
    order: 1;
  }
  #feature-transform .feature__info {
    margin-right: 5.7rem;
  }
  #feature-stand-out .feature__img {
    background-image: url("../images/desktop/image-stand-out.jpg");
  }
  #feature-stand-out .feature__info {
    margin-left: 5.7rem;
  }
}
.service__row {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 875px) {
  .service__row {
    grid-template-columns: repeat(2, 1fr);
  }
}
.service {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 45rem;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: var(--dark-desaturated-cyan);
}
.service__title {
  font-family: Fraunces;
  font-weight: 900;
  font-size: 2.25rem;
  color: inherit;
  max-width: 30ch;
  margin: 0 auto;
}
.service__description {
  font-size: 1.25rem;
  color: inherit;
  line-height: 2rem;
  max-width: 40ch;
  scale: 0.85;
  margin: 2rem auto 4rem;
}

#feature-graphic-design.service {
  background-image: url("../images/mobile/image-graphic-design.jpg");
}

#feature-photography.service {
  background-image: url("../images/mobile/image-photography.jpg");
}

@media (min-width: 875px) {
  #feature-graphic-design.service,
#feature-photography.service {
    background-position: center;
  }
  #feature-graphic-design .service__title,
#feature-photography .service__title {
    font-size: 1.5rem;
  }
  #feature-graphic-design .service__description,
#feature-photography .service__description {
    font-size: 0.875rem;
    line-height: 1.5rem;
    scale: 1;
  }
  #feature-graphic-design.service {
    background-image: url("../images/desktop/image-graphic-design.jpg");
  }
  #feature-photography.service {
    background-image: url("../images/desktop/image-photography.jpg");
  }
}
.testimonial-section {
  padding: 94px 16px;
  height: auto;
}
.testimonial-section__title {
  color: var(--grayish-blue);
  text-transform: uppercase;
  font-family: Fraunces;
  font-size: 1.25rem;
  text-align: center;
  letter-spacing: 5px;
  word-spacing: 3px;
}
.testimonial-section__grid {
  display: grid;
}
@media (min-width: 1024px) {
  .testimonial-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 160px;
  }
  .testimonial-section__title {
    font-size: 1.125rem;
    letter-spacing: 5px;
    margin-bottom: 80px;
  }
  .testimonial-section__grid {
    gap: 1.5rem;
    grid-template-columns: repeat(3, 19.5rem);
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 88px;
}
.testimonial__img {
  border-radius: 50%;
  height: 108px;
  width: 108px;
  aspect-ratio: 1;
}
.testimonial__description {
  margin: 48px 0;
  line-height: 2.5rem;
  font-size: 1.4rem;
  scale: 0.85;
  color: var(--very-dark-grayish-blue);
  max-width: 50ch;
}
.testimonial__person {
  font-family: Fraunces;
  font-weight: 900;
  font-size: 1.4rem;
  color: var(--very-dark-desaturated-blue);
  margin-bottom: 12px;
}
.testimonial__role {
  color: var(--grayish-blue);
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  .testimonial {
    margin-top: 0;
  }
  .testimonial__img {
    height: 76px;
    width: 76px;
  }
  .testimonial__description {
    margin: 64px 0;
    font-size: 1rem;
    line-height: 1.75rem;
    scale: 1;
  }
  .testimonial__person {
    font-size: 1rem;
  }
  .testimonial__role {
    font-size: 0.75rem;
  }
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.product-showcase {
  aspect-ratio: 5/6;
  background-size: cover;
  background-repeat: no-repeat;
}
.product-showcase:nth-of-type(1) {
  background-image: url("../images/mobile/image-gallery-milkbottles.jpg");
}
.product-showcase:nth-of-type(2) {
  background-image: url("../images/mobile/image-gallery-orange.jpg");
}
.product-showcase:nth-of-type(3) {
  background-image: url("../images/mobile/image-gallery-cone.jpg");
}
.product-showcase:nth-of-type(4) {
  background-image: url("../images/mobile/image-gallery-sugar-cubes.jpg");
}
@media (min-width: 768px) {
  .product-showcase:nth-of-type(1) {
    background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
  }
  .product-showcase:nth-of-type(2) {
    background-image: url("../images/desktop/image-gallery-orange.jpg");
  }
  .product-showcase:nth-of-type(3) {
    background-image: url("../images/desktop/image-gallery-cone.jpg");
  }
  .product-showcase:nth-of-type(4) {
    background-image: url("../images/desktop/image-gallery-sugar-cubes.jpg");
  }
}

.footer {
  padding: 64px 32px;
  background-color: hsl(165deg, 44%, 70%);
  color: hsl(165deg, 44%, 32%);
}

.footer__company {
  font-weight: 800;
  font-size: 32px;
  text-align: center;
  margin-bottom: 32px;
}

.footer__links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__link {
  color: inherit;
  text-decoration: none;
  color: var(--dark-moderate-cyan);
  margin: 0 32px;
}

.footer__link:hover {
  color: var(--white);
}

.footer__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.footer__social-icon {
  margin: 0 16px;
}/*# sourceMappingURL=app.css.map */