:root {
  --cyan: hsl(185, 75%, 39%);
  --blue--dark: hsl(229, 23%, 23%);
  --grayish--blue: hsl(227, 10%, 46%);
  --gray--dark: hsl(0, 0%, 59%);

  --font-size--large: 18px;
  --font-size--default: 15px;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: var(--font-size--default);
  text-align: center;
}

body {
  background-color: var(--cyan);
  color: var(--gray--dark);
  overflow: hidden;

  &::before {
    content: "";
    background-image: url("./images/bg-pattern-top.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    position: fixed;
    height: 978px;
    width: 976px;
    top: -60%;
    right: 51%;
    // transform: rotate(-135deg);
  }

  &::after {
    content: "";
    background-image: url("./images/bg-pattern-bottom.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    height: 978px;
    width: 976px;
    top: 52%;
    left: 47%;
  }
}

.accent {
  font-weight: 700;
  color: var(--blue--dark);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 5; // Displays the card above the bg bubbles
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 24px;
  height: 375px;
  width: 350px;
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.5);

  &::before {
    content: "";
    background-image: url("./images/bg-pattern-card.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    height: 140px;
    width: 100%;
  }
}

.card__image {
  position: relative;
  top: calc(-3.5rem - 3px);
  z-index: 15;
  height: 96px;
  width: 96px;
  margin-bottom: -2.5rem;
  border: 6px solid #fff;
  border-radius: 50%;
}

.card__user {
  width: 100%;
  padding-bottom: 28px;
  border-bottom: 2px solid #eee;

  h1,
  p {
    margin: 0;
    line-height: 1.7;
    color: var(--grayish--blue);

    &.user__name {
      font-size: var(--font-size--large);

      span {
        margin-right: 8.5px;
      }
    }

    &.user__location {
      font-size: 14px;
    }
  }
}

.card__stats {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 249px;

  .card-stat {
    display: flex;
    flex-direction: column;
    gap: 7px;

    .accent {
      display: block;
      margin: 0;
      font-size: var(--font-size--large);
      line-height: 1;
    }

    .stat-heading {
      font-size: 10px;
      letter-spacing: 1.5px;
      color: var(--grayish--blue);
    }
  }
}
